* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



body {
    background-image: url(asset/25101.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.navbar {
    margin: 10px auto;
    border-radius: 12px;
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    animation-name: navigation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.navbar-brand img {
    width: 200px;
}

 nav  li {
    padding: 0 1.5rem;
    transition: opacity 0.3s;
    box-shadow: -1px -2px 17px 17px #e8e8e8;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 16px !important;
    box-shadow: -1px -2px 17px 17px #e8e8e8;
    background: #ecebeb;
    transition: all linear 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

.navbar nav:hover ul li:not(:hover){
    opacity: 0.5;   
    
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent !important;
}

.jpeg {
    text-align: center;
}

.jpeg img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 40px;
}

.section-two  {
    margin-top: 20px;
    text-align: center;
}

.section-two h2 {
    font-size: 32px;
    font-weight: 600;

}

.section-two .social-icons i {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #210825;
    border: 1px solid #ad14d3;
    border-radius: 20px;

}


.section-three {
    margin-top: 50px;
}

.section-three h2 {
    text-align: center;
    /* margin-bottom: 30px; */
}

.img-div {
    /* border: 3px solid #000; */
    text-align: center;
    padding: 20px;
    width: 300px;
    background: #897392;
    
}

.section-three img{
    width: 100%;
    height: 300px;

}

.section-three p {
    margin-top: 10px;
    max-width: 500px;
    font-weight: 600;
    text-align: justify;
}

.section-three span {
    float: left;
    margin-bottom: 10px;
}

.section-four {
    margin-top: 70px;
    background-color: beige;
    padding: 40px;
    text-align: center;
    box-shadow: 2px 2px 10px 10px ;
    opacity: 0.6;
    color: #000000;
}



.section-four .project-scroll  {
    margin-top: 30px;
}

.section-four .project-scroll button {
    background-color: rgb(143, 114, 170);
    padding: 10px;
    width: 150px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;

}

.section-five .skill-section {
    margin-top: 70px;
    width: 100%;
    text-align: center;
}


.skill-section h1 {
    text-align: center;
}

.skill-section h1 span {
    color: #ffffff;
    background: #f953c6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 5px;
    height: 60px;
    font-weight: 600;
}


.skill {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

.skill-img img {
    width: 80px;
    height: 100px;
    margin: auto;
}

.skill-name {
    font-weight: 600;
    font-size: 18px;
    margin: 20px 00;
}

.skill-desc {
    max-width: 400px;
    margin: auto;
    color: #333;
    font-size: 17px;
}

.section-six h1 {
    text-align: center;
    margin-bottom: 30px;
}

.section-six h1 span {
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff; 
    padding: 5px;
    height: 60px;
    font-weight: 600;
}

.section-six .card {
    border: none;
    max-width: 100%;
    margin: 10px;
}

.section-six .card img {
    /* border: 1px solid #000; */
    box-shadow: 2px 2px 15px 15px #bebdbd;
    /* width: 300px; */
    height: 300px;

}

.section-six .card .card-body {
    text-align: center;
}

.section-six .card .card-body a{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 4px;
}

.section-six .card .card-body a:hover{
    color: rgb(139, 43, 139);
    border: 1px solid rgb(97, 97, 97);
    padding: 5px;
}

.footer {
    background-color: #333;
    color: #e8e8e8;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    nav ul li a {
        padding: 10px;
        margin: 20px;
        box-shadow: 5px 5px 10px 10px #c9c9c9;
        background: #ecebeb;
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    body {
        padding: 2px;
    }

    nav ul li a {
        color: #000000;
        padding: 10px;
        margin: 20px;
        /* font-size: 16px !important; */
        box-shadow: 5px 5px 10px 10px #c9c9c9;
        background: #ecebeb;
        transition: all linear 0.3s;
        text-align: center;
    }

    .section-three p {
        margin-top: 0px;
    
    }
    
  }

  

@keyframes navigation {

    0% {
        top: 0px; 
    }
    
    50% {
        padding: 10px; 
    }
    100% {
        padding: 0px; 
    }
}
  